<link rel = "stylesheet" href = "/css/home.css">


<div id = "home-container">
    
    <div id = "sign-in-container">
        <h1>Login To Your Account </h1>
        
        <form method="post" action="/users/create-session">

            <div class="col-8 col-sm-8 col-mb-7">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name = "email" required placeholder="example@gmail.com">
              <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
            </div>
            <div class="col-8 col-sm-8 col-mb-7">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name = "password" required placeholder="Enter Password">
            </div>
            
            <button type="submit" class="btn btn-primary col-4">Login</button>          
            
        </form>
        <div id = "other-options">
            <div id = "BordersDiv">
                <div class="orBorder">

                </div>
                <div style="margin: 0px 10px 0px; position: relative; top: -13px;">
                    OR
                </div>
                <div class="orBorder">

                </div>
            </div>
            <a href="/users/auth/google" class="links"><i class="fa-brands fa-google"></i> Sign up with google </a>
            <br>
            <a href="/forgetps" class= "links">Forget Password ?</a>
        </div>
    </div>
    <div id = "sign-up-container">
        <h1>New Here?</h1>
        <h4>Click the below button to create a Account</h4>
        
        <form method="get" action="/users/sign-up">
            <button type="submit" class="btn col-6 bg-white">Create Account</button>
        </form>
    </div>

</div>