<link rel="stylesheet" href="/css/preview.css">

<div id = "container">
    
    <div id = "form-div">
        <div id = "user-info">
            <img style="height: 100%; width: 10%;" alt="dp">
            <span><b style="font-size: larger;"><%= locals.user.name%></b></span>
        </div>
        <form id = "form-for-post"  method="post" action="/posts/create-post">
            <input type="text" name = "caption" placeholder="What's on your mind ? " style="width:100%; height: 30%;" >
            <input type = "file" name = "dp" placeholder="Add Any Photo/video" style="width: 100%; height: 50%;">
            <input type="submit">
        </form>

    </div>  
    
    <div class = "user-post">
        <div class = "post-info">

        </div>
        <div class = "post-img">

        </div>
        <div class = "post-like">

        </div>
        <div class="post-comment">
            
        </div>
        <div class = "comment-form">

        </div>
    </div>

</div>