#Navbar{
    height: 9vh;
}
#Navbar a {
    color:white;
}
.navbar-nav{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: auto;
    width: 100%;
}
#nav-users{
    display: flex;
    
}
.navbar-nav a {
    border-radius: 0.7rem;
}
#navicon{
    border : 2px solid white;    
}
.nav-components{
    height: 40px;
    display: flex;
    
}
.nav-components div,a{
    margin-right: 10px;
}
/* #SearchUser{

} */
.user-btn{
    padding: 5px 25px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:900px) {
    #mobile-nav>div{
        margin-top: 10px;
    }
}