#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    min-height: 75vh;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    
}
#form-div{
    height: 250px;
    width: 550px;
    border: 1px solid black;
    
}
#user-info{
    height: 20%;
    width: 100%;
    display: flex;
       
}
#form-for-post{
    height: 80%;
    width: 100%;
}
.user-post{
    height: auto;
    min-height: 600px;
    width: 550px;    
    border: 2px solid black;
    margin-top: 3%;
    background-color: none;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.post-info{
    height: auto;
    min-height: 88px;
    width: 100%;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    
}
.post-info>div{
    border: 1px solid black;
    
}
.post-img{
    height: 410px;
    width: 100%;
    background-color: bisque;
}
.post-like{
    height: 46px;
    width: 100%;
    display: flex;
    
}
.post-react{
    height: 100%;
    width: 50%;
    display: flex;
    border: 2px solid black;
    display: flex;
    justify-content: center;
}

.post-comment{
    display: none;
    height: 100px;
    width: 100%;
    background-color: rebeccapurple;
    overflow: scroll;
}
.comment-form-div{
    height: 56px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.comment-form{
    height: 40px;
    width: 80%;
    margin: 0%;
}

.comment-form-div button{
    border-radius: 1.5rem;
    background-color:whitesmoke;
}