#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 600px;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    
}
#form-div{
    height: 250px;
    width: 550px;
    border: 1px solid black;
    
}
#user-info{
    height: 20%;
    width: 100%;
    display: flex;
       
}
#form-for-post{
    height: 80%;
    width: 100%;
}
.user-post{
    height: auto;
    min-height: 650px;
    width: 550px;    
    border: 2px solid black;
    margin-top: 3%;
    background-color: none;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.post-info{
    height: 88px;
    width: 100%;
    background-color: aqua;
}
.post-img{
    height: 410px;
    width: 100%;
    background-color: bisque;
}
.post-like{
    height: 58px;
    width: 100%;
    background-color: lightpink;
}
.post-comment{
    /* display: none; */
    height: 100px;
    width: 100%;
    background-color: rebeccapurple;
}
.comment-form{
    height: 92px;
    width: 100%;
    background-color:brown;
}
